<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%- include('../htmlModeul/allCssLink'); %>

    <link rel="stylesheet" href="/CSS/Login.css" type="text/css" media="all" />
    <title>Login</title>
</head>
<body>
    <header>
        <%- include('../htmlModeul/navbar'); %>
    </header>

    <main class="container my-4">
        <form action="/Changepassword" method="post" class="card card-body formBody">
            <!-- w3-light-gray -->
            <div class="container">
                <h2 class="text-center">Change Password</h2>
            </div>
            <%if (flashMessage.hasMessage) {
                %>
                <% if (flashMessage.fail) {
                    %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= flashMessage.fail %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                <% } %>

            <div class="mt-2 form-group">
                <label for="pre_pass">Enter previous password</label>
                <input type="password" class="form-control <%- errors.pre_pass?'is-invalid': '' %>" name="pre_pass" id="pre_pass" placeholder="Enter last password" value="<%- value.pre_pass?value.pre_pass: '' %>" />
                    <div class="invalid-feedback">
                        <%- errors.pre_pass?errors.pre_pass.msg: '' %>
                    </div>
            </div>
            <div class="mt-2 form-group">
                <label for="new_pass">Enter new Password:</label>
                <input type="password" class="form-control <%- errors.new_pass?'is-invalid': '' %>" name="new_pass" id="new_pass" placeholder="Enter new password" value="" />
                
                    <div class="invalid-feedback">
                        <%- errors.new_pass?errors.new_pass.msg: '' %>
                    </div>
                </div>
                
            <div class="mt-2 form-group">
                <label for="con_pass">Confirm Password:</label>
                <input type="password" class="form-control <%- errors.con_pass?'is-invalid': '' %>" name="con_pass" id="con_pass" placeholder="Enter new password again" value="" />
                
                    <div class="invalid-feedback">
                        <%- errors.con_pass?errors.con_pass.msg: '' %>
                    </div>
                </div>
        
            <button class="mt-3 btn btn-success" type="submit">Login</button>
        </form>
    </main>
    <%- include('../htmlModeul/allJsLink'); %>
</body>
</html>